#wrapper {
    margin: 0 auto;
    width: 600px;
    border: 2px solid #212121;
    border-radius: 5px;
    background: #eee;
    padding-bottom: 25px;
    max-width: 100%;
}

#menu {
    padding: 15px 25px;
    display: flex;
}

#chatbox {
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 10px;
    background: #fff;
    border: 1px solid #a7a7a7;
    border-radius: 5px;
    height: 300px;
    width: 530px;
}